
@font-face {
    font-family: 'digital';
    src: url("./assets/digital-font/DigitalNormal-xO6j.otf") format("opentype");
    font-style: normal;
}


body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap:2rem;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
}

input[type=range]{
    appearance: none;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid orangered;
    background-color: transparent;
    height: 6px;
}

input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    background: orangered;
    cursor: pointer;
}

.external{
    width: 25%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    box-sizing: border-box;
    border: 2px dashed orangered;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(8, 8, 8);
    transform: rotateZ(var(--deg));
    position: relative;
    transform-style: preserve-3d;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.492);
    cursor: grab;
}

.external::before{
    content: "";
    position: absolute;
    inset: -0; /* control the spread */
    transform: translate3d(0px, 0px, -1px);
    background: linear-gradient(90deg, rgba(254,82,205,1) 0%, rgba(93,228,255,1) 100%);
    filter: blur(20px); /* control the blur */
    border-radius: 50%;
}

.inside{
    width: 50%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    box-sizing: border-box;
    border: 2px solid orangered;
    background-color: rgb(28, 28, 28);
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.492);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateZ(var(--deg));
}

.value{
    font-family: digital;
    color: orangered;
    font-size: 2rem;
    /* text-shadow:black 0px 0px 2px, whitesmoke 0px 0px 4px; */
}

.color{
    font-family: digital;
    color: orangered;
    font-size: 1rem;
}